@model IEnumerable<StudentTutoringApplication.Models.Tutor>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Dashboard</h2>
<p>Good luck in your coding! -ryan</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Subjects</th>
            <th>Availability</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Subjects</td>
                <td>@user.Availability</td>
                <a asp-action="BookAppointment" asp-route-id="@user.TutorId">Details</a>
            </tr>
        }
    </tbody>
</table>