:root {
    --blue:#007599;
    --green:#829600;
    --l_blue:#A1D8E0;
    --gold:#EAAB00;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar {
    background-color: var(--l_blue);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    margin-right: 1.5em;
    margin-left: 1.05em;
    height: 2rem;
}
